/****************
site-logo
******************/
.site-logo {
	position: absolute;
	left: 50%;
	top: 4px;
	display: inline-block;
	white-space: nowrap;
	width: 140px;
	height: 37px;
	line-height: 37px;
	margin-left: -70px;
	text-align: center;
}
