color_white= #fafafa;
color_black= #212121;
color_green= #38877d;
// color_green= #67B2A4;
// color_green= #3a6963;
color_green_hover= #3a6963;
color_soundcloud= #FF5500;
color_twitter= #00aced;
color_facebook= #305097;
// color_instagram= #3f729b;
color_instagram= #212121;
color_bandcamp= #477987;

font_size_small = 0.8rem;
font_size_normal = 1rem;
font_size_big = 1.2rem;

img_bg = "images/bg_paper3.png";
img_bg_rash = "images/bg_paper.png";
img_border = "images/line_base.png";
img_hanashi = "images/hanashinotudukiwo_jacket.jpg";
