// Stylus entry point

@import "../../../../node_modules/normalize.css/normalize.css";
// @import "Icon.styl";

@import "../../settings/variables/initial.styl";
@import "../../settings/animation/quiver_right.styl";
@import "../../settings/mixin/arrow.styl";

body {
  font-family:'Lucida Grande', Meiryo, sans-serif;
  font-size: 14px;
}
ul,li {
  list-style: none;
}
a {
  color: color_green;
}

.hide {
  display: none!important;
}


@media screen and (min-width: 480px){

}
@media screen and (min-width: 768px){

}
@media screen and (min-width: 920px){

}
