/****************
css_burger reset
******************/
$c-burger_bg : #221f20;

body {
  background: #000;
}
.site-logo {
  font-weight: bold;
  font-size: $f-title;
}
article {
  display: block;
  //max-width: 360px;
  padding: 24px 16px 60px;
  margin: 0 auto;
  background: $c-white;
  h1 {
    display: block;
    margin: 0 0 32px;
    font-size: $f-title;
  }
  p {
    display: block;
    margin: 0 0 16px;
    word-wrap: break-word;
    font-size: $f-base;
  }
}
