<footer class="global-footer">
	<div class="global-footer-outer">
		<div class="global-footer-inner">
			<h2 class="global-footer-title">サイトマップ</h2>

			<div class="global-footer-nav">
				<a href="<% include ../variables/_siteurl %>account/" class="btn size_l btn_b" title="無料会員登録">無料会員登録</a>
				<a href="<% include ../variables/_siteurl %>account/login.html" class="btn size_l btn_a" title="ログイン">ログイン</a>
				<dl class="define">
					<dt class="define-title">メンバー情報</dt>
					<dd class="define-cont">
						<ul class="list has_arrow has_1">
							<li class="list__item"><a href="<% include ../variables/_siteurl %>account/member_reentry.html" title="パスワードを忘れた方">パスワードを忘れた方</a></li>
							<li class="list__item"><a href="<% include ../variables/_siteurl %>account/member/communication.html" title="メール">メール</a></li>
							<li class="list__item"><a href="<% include ../variables/_siteurl %>account/member/profile.html" title="プロフィール">プロフィール</a></li>
							<li class="list__item"><a href="<% include ../variables/_siteurl %>account/member/follow.html" title="お気に入り">お気に入り</a></li>
							<li class="list__item"><a href="<% include ../variables/_siteurl %>account/member/follow.html?tab=chatlog" title="チャットログイン履歴">チャットログイン履歴</a></li>
							<li class="list__item"><a href="<% include ../variables/_siteurl %>account/member/point_select.html" title="ポイント購入">ポイント購入</a></li>
						</ul>
					</dd>
				</dl>
			</div>
			<div class="global-footer-nav">
				<dl class="define">
					<dt class="define-title">女の子情報</dt>
					<dd class="define-cont">
						<ul class="list has_arrow has_1">
							<li class="list__item"><a href="<% include ../variables/_siteurl %>search/" title="女の子検索">女の子検索</a></li>
							<li class="list__item"><a href="<% include ../variables/_siteurl %>ranking/" title="ランキング">ランキング</a></li>
							<li class="list__item"><a href="<% include ../variables/_siteurl %>blog/" title="ブログ">ブログ</a></li>
							<li class="list__item"><a href="<% include ../variables/_siteurl %>pickup/prmovie/prmovie.html" title="無料紹介ムービー">無料紹介ムービー</a></li>
							<li class="list__item"><a href="<% include ../variables/_siteurl %>pickup/report/" title="ゴーゴー通信">ゴーゴー通信</a></li>
						</ul>
					</dd>
				</dl>
			</div>
			<div class="global-footer-nav">
				<dl class="define">
					<dt class="define-title">遊び方/料金説明</dt>
					<dd class="define-cont">
						<ul class="list has_arrow has_1">
							<li class="list__item"><a href="<% include ../variables/_siteurl %>event/" title="イベント一覧">イベント一覧</a></li>
							<li class="list__item"><a href="<% include ../variables/_siteurl %>beginner/" title="遊び方">遊び方</a></li>
							<li class="list__item"><a href="<% include ../variables/_siteurl %>beginner/handling.html" title="基本操作">基本操作</a></li>
							<li class="list__item"><a href="<% include ../variables/_siteurl %>beginner/charge.html" title="料金説明">料金説明</a></li>
							<li class="list__item"><a href="<% include ../variables/_siteurl %>beginner/please.html" title="番組からのお願い">番組からのお願い</a></li>
							<li class="list__item"><a href="<% include ../variables/_siteurl %>beginner/jack.html" title="女の子にモテるコツ">女の子にモテるコツ</a></li>
							<li class="list__item"><a href="<% include ../variables/_siteurl %>beginner/card.html" title="あんしん。カード決済について">あんしん。カード決済について</a></li>
							<li class="list__item"><a href="<% include ../variables/_siteurl %>account/member/pointback.html" title="ポイントバックについて">ポイントバックについて</a></li>
						</ul>
					</dd>
					<dt class="define-title">ヘルプ</dt>
					<dd class="define-cont">
						<ul class="list has_arrow has_1">
							<li class="list__item"><a href="<% include ../variables/_siteurl %>help/" title="よくある質問">よくある質問</a></li>
							<li class="list__item"><a href="<% include ../variables/_siteurl %>account/member/help/support_list.html" title="お問い合わせ履歴">お問い合わせ履歴</a></li>
							<li class="list__item"><a href="<% include ../variables/_siteurl %>help/trouble.html" title="トラブル対処法">トラブル対処法</a></li>
							<li class="list__item"><a href="<% include ../variables/_siteurl %>performer/profile/p24837704" title="カメラ・マイクテスト">カメラ・マイクテスト</a></li>
							<li class="list__item"><a rel="nofollow" target="_blank" href="http://live.angel-group.net/privacy/content_report.php" title="著作権侵害通報">著作権侵害通報</a></li>
							<li class="list__item"><a href="<% include ../variables/_siteurl %>help/support.html" title="お問い合わせ">お問い合わせ</a></li>
						</ul>
					</dd>
				</dl>
			</div>
			<div class="global-footer-nav">
				<dl class="define">
					<dt class="define-title">ご利用にあたって</dt>
					<dd class="define-cont">
						<ul class="list has_arrow has_1">
							<li class="list__item"><a href="<% include ../variables/_siteurl %>terms/member/" title="利用規約">利用規約</a></li>
							<li class="list__item"><a href="<% include ../variables/_siteurl %>privacy/" title="プライバシーポリシー">プライバシーポリシー</a></li>
							<li class="list__item"><a href="<% include ../variables/_siteurl %>security/" title="セキュリティーについて">セキュリティーについて</a></li>
							<li class="list__item"><a href="<% include ../variables/_siteurl %>law/" title="特定商取引">特定商取引</a></li>
							<li class="list__item"><a href="http://www.high-spec.co.jp/" target="_blank" title="会社概要" rel="nofollow">会社概要</a></li>
						</ul>
					</dd>
					<dt class="define-title">募集情報</dt>
					<dd class="define-cont">
						<ul class="list has_arrow has_1">
							<li class="list__item"><a href="http://lady.livede55.com/?b=mens2014" target="_blank" title="出演女性募集">出演女性募集</a></li>
							<li class="list__item"><a href="http://www.angel-group.net/" target="_blank" title="エージェント様募集" rel="nofollow">エージェント様募集</a></li>
							<li class="list__item"><a href="https://secure1348.sakura.ne.jp/reas.jp/company/massmedia.php" title="取材をご希望の方へ" target="_blank" rel="nofollow">取材をご希望の方へ</a></li>
						</ul>
					</dd>
				</dl>
			</div>
			<div class="global-footer-nav">
				<dl class="define">
					<dt class="define-title">女性会員</dt>
					<dd class="define-cont">
						<ul class="list has_arrow has_1">
							<li class="list__item"><a target="_blank" href="http://ap.livede55.com/flax/fss/16605/performer_login.html" title="女性会員入口">女性会員入口</a></li>
						</ul>
					</dd>
				</dl>
			</div>
		</div>
	</div>

	<div class="global-footer-outer type_2">
		<div class="global-footer-inner">
			<p class="global-footer-des">
				可愛い女の子とメールやライブチャットを楽しむことができる「コミュニケーションツール」それがライブでゴーゴーです。
				パソコンはもちろん、スマートフォン、タブレット端末からお楽しみいただける様、App Store、Google playからゴーゴーのアプリをダウンロードして頂けます。
				ライブでゴーゴーに出演している女の子は、大学生や、OL、ナースなど、様々な職業の女の子がおり、連日連夜あなたからの連絡を待っています。
				出演している女の子と仲良くなるツールとして、文字や写真のやりとりができる「メール機能」、 プライベートな情報がわかる「ブログ機能」等をご用意しております。
				今ならゴーゴーOPEN記念として、ポイントプレゼントキャンペーンもございますので、まずは無料でライブチャットをお楽しみ頂けます。
				ライブチャットならではのドキドキとワクワクを「ライブでゴーゴー」でお楽しみ下さい。
			</p>
		</div>
	</div>

	<div class="global-footer-outer type_2">
		<div class="global-footer-inner">
			<ul class="list in_row">
				<li class="list__item"><a target="_blank" href="http://www.angel-live.com/recruit/" rel="nofollow">[PR]高収入アルバイトのチャットレディ大募集!!</a></li>
				<li class="list__item"><a target="_blank" href="http://www.angel-live.com/" rel="nofollow">[PR]日本最大級アダルトライブチャット</a></li>
				<li class="list__item"><a target="_blank" href="http://www.chatpia.jp/" rel="nofollow">[PR]人妻、熟女のアダルトライブチャット</a></li>
				<li class="list__item"><a target="_blank" href="http://www.angel-group.net/" rel="nofollow">[PR]ライブチャットの代理店、マネージャー、エージェント募集</a></li>
			</ul>
			<small class="copyright">Copyright 2004-2015 <a href="<% include ../variables/_siteurl %>">ライブチャットならライブでゴーゴー</a> All Rights Reserved.</small>
		</div>
	</div>

	<a href="javascript:;" id="backtop" class="btn-go-top">
		<div class="wrap"><img src="<% include ../variables/_siteurl %>cache/common/img/common_gotop.png" class="btn-go-top__image" alt="ページトップへ" /></div>
	</a>
</footer>

<script>

</script>
