<footer class="global-footer">
  <ul class="list has_1">
    <li class="list__item">
      <a href="" title="home" class="btn-global">HOME</a>
    </li>
    <li class="list__item">
      <a href="terms/member/" title="利用規約" class="btn-global">利用規約</a>
    </li>
    <li class="list__item">
      <a href="law/" title="特定商取引" class="btn-global">特定商取引</a>
    </li>
    <li class="list__item">
      <a href="privacy/" title="プライバシーポリシー" class="btn-global">プライバシーポリシー</a>
    </li>
    <li class="list__item">
      <a href="security/" title="セキュリティーについて" class="btn-global">セキュリティーについて</a>
    </li>
  </ul>
  <small class="copyright">
    &copy; <a href="">ライブでゴーゴー</a>
  </small>
  <a href="javascript:;" id="backtop" class="btn-go-top">
    <img src="cache/common/img/common_gotop.png" class="btn-go-top__image" alt="ページトップへ" />
  </a>
</footer>
</div>
</div>

<script>
$(function(){
var burgerBody = $("#js-burger-outer");
var burgerBtn  = $("#burger");
$(burgerBtn).prop('checked',false);
$(burgerBtn).on("click",function(){
 if($(burgerBtn).prop('checked')) {
  $(burgerBody).addClass("active");
 } else {
  $(burgerBody).removeClass("active");
 }
});
});
</script>
