<header class="global-header">
	<div class="global-header-des">
		<h1 class="global-header-des__txt">ライブチャットならライブでゴーゴー！女の子の部屋から24時間リアルタイムで楽しめます！お試し無料でライブチャットが体験出来る！</h1>
	</div>

	<div class="global-header-inner">
		<a class="site-logo" href="javascript:;">
			<% include ../img/_img_sitelogo %>
		</a>
		<nav class="global-nav">
			<ul class="list in_row">
				<li class="list__item">
					<a href="<% include ../variables/_siteurl %>" title="HOME" class="btn-global global_home">HOME</a>
				</li>
				<li class="list__item">
					<a href="<% include ../variables/_siteurl %>beginner/" title="遊び方/料金" class="btn-global global_howto">遊び方/料金</a>
				</li>
				<li class="list__item">
					<a href="<% include ../variables/_siteurl %>search/" title="女の子検索" class="btn-global global_search">女の子検索</a>
				</li>
				<li class="list__item">
					<a href="<% include ../variables/_siteurl %>blog/" title="ブログ" class="btn-global global_blog">ブログ</a>
				</li>
				<li class="list__item">
					<a href="<% include ../variables/_siteurl %>pickup/" title="ゴーゴー広場" class="btn-global global_pickup">ゴーゴー広場</a>
				</li>
				<li class="list__item">
					<a href="<% include ../variables/_siteurl %>ranking/" title="ランキング" class="btn-global global_ranking">ランキング</a>
				</li>
				<li class="list__item">
					<a href="<% include ../variables/_siteurl %>help/" title="ヘルプ" class="btn-global global_help">ヘルプ</a>
				</li>
			</ul>
		</nav>
	</div>
</header>
