<div id="js-burger-outer" class="burger-outer">
	<nav class="global-nav">
		<div class="global-nav-inner">
			<ul class="list has_1 type_sitelogo">
				<li class="list__item">
					<a href="javascript:;" class="btn size_l btn_b">無料会員登録</a>
				</li>
				<li class="list__item">
					<a href="javascript:;" class="btn size_m btn_a">ログイン</a>
				</li>
			</ul>
			<ul class="list has_1">
				<li class="list__item">
					<a href="<% include ../variables/_siteurl %>" title="home" class="btn-global global_home">HOME</a>
				</li>
				<li class="list__item wrap-open">
					<input type="checkbox" class="btn-open type_input" id="open-howto">
					<div class="wrap-open__inner">
						<label onclick="" class="btn-open global_howto type_label" for="open-howto">
							<span class="btn-open__inner">遊び方/料金</span>
						</label>
						<div class="box-open">
							<ul class="list">
								<li class="list__item">
									<a title="遊び方" class="btn-global" href="<% include ../variables/_siteurl %>beginner/">遊び方</a>
								</li>
								<li class="list__item">
									<a title="基本操作" class="btn-global" href="<% include ../variables/_siteurl %>beginner/handling.html">基本操作</a>
								</li>
								<li class="list__item">
									<a title="料金説明" class="btn-global" href="<% include ../variables/_siteurl %>beginner/charge.html">料金説明</a>
								</li>
								<li class="list__item">
									<a title="ご優待制度" class="btn-global" href="<% include ../variables/_siteurl %>beginner/stage.html">ご優待制度</a>
								</li>
								<li class="list__item">
									<a title="番組からのお願い" class="btn-global" href="<% include ../variables/_siteurl %>beginner/please.html">番組からのお願い</a>
								</li>
								<li class="list__item">
									<a title="あんしんカード決済" class="btn-global" href="<% include ../variables/_siteurl %>beginner/card.html">あんしんカード決済</a>
								</li>
								<li class="list__item">
									<a title="女の子にモテるコツ" class="btn-global" href="<% include ../variables/_siteurl %>beginner/jack.html">女の子にモテるコツ</a>
								</li>
							</ul>
						</div>
					</div>
				</li>
				<li class="list__item">
					<a href="<% include ../variables/_siteurl %>search/" title="女の子検索" class="btn-global global_search">女の子検索</a>
				</li>
				<li class="list__item">
					<a href="<% include ../variables/_siteurl %>blog/blog.html" title="女の子ブログ" class="btn-global global_blog">女の子ブログ</a>
				</li>
				<li class="list__item">
					<a href="<% include ../variables/_siteurl %>news/news.html" title="お知らせ" class="btn-global global_news">お知らせ</a>
				</li>
				<li class="list__item">
					<a href="<% include ../variables/_siteurl %>ranking/" title="ランキング" class="btn-global global_ranking">ランキング</a>
				</li>
				<li class="list__item">
					<a href="<% include ../variables/_siteurl %>gift/" title="55ギフト" class="btn-global global_gift">55ギフト</a>
				</li>
				<li class="list__item wrap-open">
					<input type="checkbox" class="btn-open type_input" id="open-help">
					<div class="wrap-open__inner">
						<label onclick="" class="btn-open global_help type_label" for="open-help">
							<span class="btn-open__inner">ヘルプ</span>
						</label>
						<div class="box-open">
							<ul class="list">
								<li class="list__item">
									<a title="よくある質問" class="btn-global" href="<% include ../variables/_siteurl %>help/">よくある質問</a>
								</li>
								<li class="list__item">
									<a title="お問い合わせ履歴" class="btn-global" href="<% include ../variables/_siteurl %>account/member/help/support_list.html">お問い合わせ履歴</a>
								</li>
								<li class="list__item">
									<a title="著作権違反報告" class="btn-global" target="_blank" rel="nofollow" href="http://live.angel-group.net/privacy/content_report.php">著作権違反報告</a>
								</li>
							</ul>
						</div>
					</div>
				</li>
			</ul>
			<div class="wrap-btn">
				<a class="btn is_image" title="出演女性募集中!!" target="_blank" href="http://lady.livede55.com/?b=mens2014">
					<img alt="出演女性募集中!!" src="<% include ../variables/_siteurl %>cache/common/img/sp_banner_recruit_menu.png">
				</a>
			</div>
		</div>
	</nav>
	<input type="checkbox" id="burger" class="burger-btn">
	<div class="burger-inner">
		<header class="global-header">
			<label onclick="" class="btn-menu type_burger" for="burger">
				メニュー
			</label>
			<a class="site-logo" href="javascript:;">
				<% include ../img/_img_sitelogo %>
			</a>
		</header>
