<div class="sub-header">
	<div class="sub-header-inner">
		<nav class="sub-nav">
			<ul class="list in_row sub-nav__nav">
				<li class="list__item">
					<a class="btn-global global_enjoy type_sub" title="遊び方" href="<% include ../variables/_siteurl %>beginner/">遊び方</a>
				</li>
				<li class="list__item">
					<a class="btn-global global_handling type_sub" title="基本操作" href="<% include ../variables/_siteurl %>beginner/handling.html">基本操作</a>
				</li>
				<li class="list__item">
					<a class="btn-global global_charge type_sub" title="料金説明" href="<% include ../variables/_siteurl %>beginner/charge.html">料金説明</a>
				</li>
				<li class="list__item">
					<a class="btn-global global_stage type_sub" title="ご優待制度" href="<% include ../variables/_siteurl %>beginner/stage.html">ご優待制度</a>
				</li>
				<li class="list__item">
					<a class="btn-global global_please type_sub" title="番組からのお願い" href="<% include ../variables/_siteurl %>beginner/please.html">番組からのお願い</a>
				</li>
				<li class="list__item">
					<a class="btn-global global_card type_sub" title="あんしん。カード決済について" href="<% include ../variables/_siteurl %>beginner/card.html">あんしん。カード決済</a>
				</li>
				<li class="list__item">
					<a class="btn-global global_jack type_sub" title="女の子にモテるコツ" href="<% include ../variables/_siteurl %>beginner/jack.html">女の子にモテるコツ</a>
				</li>
			</ul>
		</nav>
	</div>
</div>
