doctype html
html(lang="ja")
  include common/_head.pug
  body
    h1 It works!
    .test
      p I write pug the first

    
    ul
      li list
      li list2
      li 33333333333333
      
      
