doctype html
html(lang="ja")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="robots" content="noindex, nofollow")
    meta(name="viewport" content="width=device-width, maximum-scale=1, minimum-scale=1, user-scalable=no")
    meta(name="format-detection" content="telephone=no")
    link(rel="stylesheet" href="bundle.css")
  body
    h1 It works!
    .test
      p I write pug the first

    //-script(src="js/index.js")
    ul
      li list
      li list2
      li 33333333333333

    <p>なんで</p>
