
$c-txt     : #212121;
$c-title   : #4a4a4a;
$c-bg      : #efefef;
$c-white   : #fcfafb;
$c-main    : #f50057;
$c-sub     : #ff80ab;
$c-mute    : #767676;
$c-border  : #bbb;

$c-txtLink: #0f61b5;
$c-txtEmer: #ff0000;

$f-ss:10px;
$f-s:12px;
$f-base:14px;
$f-title:16px;
