/****************
slide
******************/
.slide-area {
  display: block;
  overflow: hidden;
  position: relative;
  width: 100%;
  margin: 0 0 5px;
  padding: 0 0px;
  // background-image: url($app-bg);
  // background-repeat: no-repeat;
  // background-size: cover;
}
.slide-area__btn {
  max-width: 360px;
  margin: 0 auto;
  .btn {
    margin: 0 8px;
    font-size: 16px;
  }
}
.slide-line-wrap {
  display: block;
  overflow: hidden;
  position: relative;
  margin: 0 auto;
}
.slide-line {
  display: block;
  position: absolute;
}
.slide-line__item {
  display: block;
  float: left;
  width: 50%;
}
.slide-pic__pic {
  display: block;
  width: 100%;
  height: 100%;
}
.box-ball {
  //bottom: 20px;
  display: block;
  margin: 0 auto 16px;
  //left: 50%;
  //margin: 0 0 0 -60px;
  opacity: 0.5;
  //position: absolute;
  width: 120px;
  text-align: center;
}
.box-ball__item {
  width: 20px;
  line-height: 1;
  margin: 0 4px;
  color: #ccc;
  text-align: center;
  font-size: 20px;
}
.box-ball__item.is_active {
  color: $c-main;
}

.slide-line {
  -webkit-transition: left .5s ease-out;
  -moz-transition: left .5s ease-out;
  -o-transition: left .5s ease-out;
  transition: left .5s ease-out;
}
.slide-line.has_move1 { left: 0; }
.slide-line.has_move2 { left: -100%; }
.slide-line.has_move3 { left: -200%; }
.slide-line.has_move4 { left: -300%; }
.slide-line.has_move5 { left: -400%; }
.slide-line.has_move6 { left: -500%; }
.slide-line.has_move7 { left: -600%; }
.slide-line.has_move8 { left: -700%; }
.slide-line.has_move9 { left: -800%; }
.slide-line.has_move10 { left: -900%; }
.slide-line.has_move11 { left: -1000%; }
.slide-line.has_move12 { left: -1100%; }
