

// how to use
// animation: quiver_bottom 2s ease 0s infinite alternate none running;
// -moz-animation: quiver_bottom 2s ease 0s infinite alternate none running;
// -webkit-animation: quiver_bottom 2s ease 0s infinite alternate none running;
// -o-animation: quiver_bottom 2s ease 0s infinite alternate none running;
// -ms-animation: quiver_bottom 2s ease 0s infinite alternate none running;

@keyframes quiver_bottom {
  0% {
    bottom: 3%;
  }
  50% {
    bottom: 2%;
  }
  100% {
    bottom: 3%;
  }
}
@-moz-keyframes quiver_bottom {
  0% {
    bottom: 3%;
  }
  50% {
    bottom: 2%;
  }
  100% {
    bottom: 3%;
  }
}
@-webkit-keyframes quiver_bottom {
  0% {
    bottom: 3%;
  }
  50% {
    bottom: 2%;
  }
  100% {
    bottom: 3%;
  }
}
@-o-keyframes quiver_bottom {
  0% {
    bottom: 3%;
  }
  50% {
    bottom: 2%;
  }
  100% {
    bottom: 3%;
  }
}
@-ms-keyframes quiver_bottom {
  0% {
    bottom: 3%;
  }
  50% {
    bottom: 2%;
  }
  100% {
    bottom: 3%;
  }
}
