.btn-link {
  display: inline-block;
  padding: 1rem .5rem;
  margin: 0 .5rem;
  text-decoration: none;
  font-size: font_size_small;
  // color: color_black;
}

// @media screen and (min-width: 480px){
//
// }
// @media screen and (min-width: 768px){
//
// }
// @media screen and (min-width: 920px){
//
// }
