.comment {
  display: block;
}
.comment-box {
  display: block;
  padding: 1rem 1rem;
  background-color: color_green;
  background-image: url(img_bg);
  background-repeat: repeat;
  background-size: 50%;
  text-align: center;
  border: solid 5px color_green
  border-radius: 45px 25px 25px 125px/15px 75px 45px 25px;
}
.comment-box-text {
  display: block;
  line-height: 1.4rem;
  padding: 0;
  margin: 0 0 1rem;
  text-align: left;
  color: color_white;
  font-size: font_size_normal;
}
