.icon {
  &.icon_facebook {
    fill: color_facebook;
    color: color_facebook;
  }
  &.icon_twitter {
    fill: color_twitter;
    color: color_twitter;
  }
  &.icon_instagram {
    fill: color_instagram;
    color: color_instagram;
  }
  &.icon_soundcloud {
    fill: color_soundcloud;
    color: color_soundcloud;
  }
  &.icon_bandcamp {
    fill: color_bandcamp;
    color: color_bandcamp;
  }
}

.color_white {
  .icon_instagram {
    fill: #212121;
    color: #212121;
    // fill: #3f729b;
    // color: #3f729b;
  }
}
