doctype html
html(lang="ja")
  include ../common/_head.pug
  link(rel="stylesheet" href="../common/css/webdesign_checked_3_or_1.css")
  script(src="../common/js/webdesign_checked_3_or_1.js")
  body
    h1 It works!å
    .main
      ul.lists
        li.lists__item
          p test
          
    
    ul.test
			<li class="box-list__item wrap-box-chk">
				<input class="box-chk is_input js_btn_category" name="category" type="checkbox" value="12" checked>
				<label class="box-chk is_label">12</label>
			</li>
			<li class="box-list__item wrap-box-chk">
				<input class="box-chk is_input js_btn_category" name="category" type="checkbox" value="1" >
				<label class="box-chk is_label">21</label>
			</li>
		</ul>
    
    //-script(src="js/index.js")
    ul
      li list
      li list2
      li 33333333333333
    
    ol
      li
        li tesiki
        li.test testststsets
        li.test te e sgfdgs
      
    
