
$c-txtBase : #212121;
$c-txtTit  : #4a4a4a;
$c-bg      : #efefef;
$c-white   : #ffffff;
$c-main    : #f50057;
$c-sub     : #ff80ab;
$c-mymenu  : #0091ea;
$c-pts     : #ef6c00;
$c-mute    : #767676;
$c-border  : #bbb;
$c-beginner: #0ca849;
$c-error   : #fff9c4;
$c-pale    : #fce4ec;

$c-txtLink: #0f61b5;
$c-txtEmer: #ff0000;

$f-ss:10px;
$f-s:12px;
$f-base:14px;
$f-title:16px;
