
$col-txtBase : #212121;
$col-txtTit  : #4a4a4a;
$col-bg      : #efefef;
$col-white   : #ffffff;
$col-main    : #f50057;
$col-sub     : #ff80ab;
$col-mymenu  : #0091ea;
$col-pts     : #ef6c00;
$col-mute    : #767676;
$col-border  : #bbb;
$col-beginner: #0ca849;
$col-error   : #fff9c4;
$col-pale    : #fce4ec;

$col-txtLink: #0f61b5;
$col-txtEmer: #ff0000;

$fontsize-ss:10px;
$fontsize-s:12px;
$fontsize-base:14px;
$fontsize-title:16px;
